@charset "UTF-8";

/*
    Media Queries
*/

@media screen and (min-width: 768px){
    #imagem {
        display: inline-block;
        width: 350px;
        height: 279px;
        border-radius: 10px 0px 0px 10px;
    }

    #formulario {
        display: inline-block;
        max-width: 300px;
    }

    #login {
        display: inline-block;
        width: 665px;
        height: fit-content;
        padding: 0px;
        height: 100%;
        transition: 2s;
    }
}