@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
    --cor3: #63e7e3d5;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--cor2);
}

main {
    top: 50%;
    left: 50%;
    position: absolute;
    display: block;
    margin: auto;
    background-color: white;
    width: fit-content;
    height: fit-content;

    border-radius: 10px;

    transform: translate(-50%, -50%);
}

#formulario {
    max-width: 300px;
    min-width: 300px;
}

#formulario p {
    text-indent: 2em;
    text-align: justify;
    padding: 5px;
}

#login {
    height: fit-content;
}

#imagem{
    height: 250px;
    background-image: url(../imagens/pattern.jpg);
    border-radius: 10px 10px 0px 0px;
    background-size: cover;
    background-position: center center;
}

div#formulario h1 {
    text-align: center;
    padding: 15px;
}

#inp-login, #inp-pass {
    margin: 5px;
    height: fit-content;
    box-sizing: border-box;
    border-radius: 5px;
    background-color: var(--cor2);
}

.show-left{
    display: inline-block;
    padding: 3px;
}

.show-right {
    display: inline-block;
    position: relative;
}

#ilogin, #ipass {
    position: absolute;
    height: 32px;
    top: -32px;
    left: 0px;
    width: 230px;
    border-radius: 10px;
}

#l-login, #l-pass {
    position: relative;
    text-align: left;
    font-size: 2em;
    color: white;
}

#btn-login {
    background-color: var(--cor1);
    color: white;
    width: 290px;
    margin: 5px auto 5px auto;
    height: 30px;
    display: block;
    border: none;
    border-radius: 5px;
}

#btn-fpass  {
    box-shadow: none;
    background-color: white;
    color: var(--cor1);
    width: 290px;
    margin: 5px auto 5px auto;
    height: 30px;
    display: block;
    border: 1px solid gray;
    border-radius: 5px;
    font-size: 1em;
}

#btn-login:hover ,#btn-fpass:hover {
    background-color: var(--cor3);
    cursor: pointer;
}

#btn-fpass::after {
    content: '&#2709';
}