@charset "UTF-8";

/*
    Paleta de cores
    Verde: #49a09d
    Lilás: #5f2c82
*/

:root {
    --cor1: #49a09d;
    --cor2: #5f2c82;
    --cor3: #63e7e3d5;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor2);
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;

}

#login {
    display: block;
    position: absolute;
    background-color: white;
    width: 290px;
    height: 500px;
    border-radius: 20px;
    overflow: hidden;

    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
}

#imagem{
    display: block;
    height: 200px;
    background-image: url(../imagens/pattern.jpg);
    background-size: cover;
    background-position: center center;
}

#formulario {
    display: block;
    padding: 5px;
}

#formulario p {
    font-size: 0.9em;
    text-align: justify;
}

#formulario h1 {
    text-align: center;
    padding: 15px;
}

.campo {
    background-color: var(--cor2);
    width: 100%;
    border-radius: 8px;
    margin: 5px 0px;
    height: 40px;
}

.campo label {
    font-size: 2em;
    width: 35px;
}

.campo input {
    background-color: #5de7e3d8;
    height: 40px;
    width: calc(100% - 40px);
    transform: translateY(-8px);
    border-color: var(--cor2);
    border-radius: 8px;
}

.campo input:focus-within {
    background-color: white;
}

#btn-login {
    display: block;
    background-color: #49a09d;
    color: white;
    width: 100%;

    height: 40px;
    border: none;
    border-radius: 5px;
}

#btn-fpass  {
    display: block;
    border: 1px solid var(--cor1);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    text-align: center;
    margin-top: 5px;
    text-decoration: none;
    color: var(--cor1);
}

#btn-fpass span {
    font-size: 0.95em;
}

#btn-login:hover {
    background-color: #306967;
    cursor: pointer;
}

#btn-fpass:hover {
    background-color: var(--cor3);
    cursor: pointer;
}